// Primary Shades
$primary-50:  #FAEFFF;
$primary-100: #ECD0FF;
$primary-200: #DAB2FF;
$primary-300: #C495FF;
$primary-400: #AC7AFF;
$primary-500: #9161FF; 
$primary-600: #774BFF;
$primary-700: #5F39E9; 
$primary-800: #4A2BC2;
$primary-900: #392095;

// Secondary Shades
$secondary-50:  #F4F3F9;
$secondary-100: #DEDBEC;
$secondary-200: #C9C3DE;
$secondary-300: #B3ACCF;
$secondary-400: #9E96BE;
$secondary-500: #8981AB;
$secondary-600: #746D96;
$secondary-700: #60597F;
$secondary-800: #4D4768;
$secondary-900: #3A364F;



// Success Shades
$success-50:  #EDF7E6;
$success-100: #E3F2D9;
$success-200: #C6E5B5;
$success-300: #9BCF80;
$success-400: #69B349;
$success-500: #389314;
$success-600: #107400;
$success-700: #005A00;
$success-800: #024900;
$success-900: #044400;


// Danger Shades
$danger-50:  #FFEEEA;
$danger-100: #FFCDC0;
$danger-200: #FFAC9A;
$danger-300: #FF8B78;
$danger-400: #FF6C5A;
$danger-500: #EC5042;
$danger-600: #D4362E;
$danger-700: #B72120;
$danger-800: #961416;
$danger-900: #741010;


// Warning Shades
$warning-50:  #FEF1E7;
$warning-100: #F9D7B9;
$warning-200: #F0BD8F;
$warning-300: #E2A468;
$warning-400: #D08D47;
$warning-500: #BB772B;
$warning-600: #A46212;
$warning-700: #8B5000;
$warning-800: #713F00;
$warning-900: #573000;

// Gray Shades
$gray-50:  #F3F3F3;
$gray-100: #DDDDDD;
$gray-200: #C6C6C6;
$gray-300: #B0B0B0;
$gray-400: #9B9B9B;
$gray-500: #868686;
$gray-600: #727272;
$gray-700: #5E5E5E;
$gray-800: #4B4B4B;
$gray-900: #393939;


// Stroke Shades
$stroke-50:  #F3F3F3;
$stroke-100: #DDDDDD;
$stroke-200: #C6C6C6;
$stroke-300: #B0B0B0;
$stroke-400: #9B9B9B;
$stroke-500: #868686;
$stroke-600: #212121;




// text-color
$primary:  #613AF5;
$success:  #3C9718;
$danger :  #B7131A;
$warning:  #B77224;
$dark : #212121;
$disabled : #21212180;
$hint : #727272;
$light : #727272;

